:root {
  font-family: Arial, sans-serif;
  color-scheme: light;
  color: #000000;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
